<html>
    <body>
        <form action="/user/change-password" method="post">
            <input type="hidden" value="<%=email%>" name="email">
            <label>New Password</label>
            <input type="password" name="password">
            <button type="submit">Change</button>
        </form>
    </body>
</html>